h1{
    font-family: Prompt;
    text-align: center;
}
body{
    background-color:cyan;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
}
li {
    display: inline;
    font-family: Prompt;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    margin-left: 350px;
    margin-right: 80px;
}
p{
    font-family: Prompt;
    font-size: 20px;
    text-align: center;
    margin-right: 500px;
    margin-bottom: 12px;
}
p1{
    display: block;
    font-family: Prompt;
    text-align: center;
    margin: 20px;
    font-size: 25px;
    margin-bottom: 5px;
}
p2{
    display: block;
    font-family: Prompt;
    font-size: 20px;
    text-align: center;
}